@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.header {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    text-align: center;
}

.subheader {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: center;
}

#output {
    margin-top: 20px;
}

#errorImage {
    max-width: 100%;
    height: auto;
}